html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

#contents {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.caption {
    text-align: left;
    padding: 10px;
    height: 100%;
    text-shadow: 
    1px  1px 0px #000000,
    -1px  1px 0px #000000,
    1px -1px 0px #000000,
    -1px -1px 0px #000000,
    1px  0px 0px #000000,
    0px  1px 0px #000000,
    -1px  0px 0px #000000,
    0px -1px 0px #000000;
}
ul {
    list-style: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}